target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

*.meta
format.json
part.1
/data/users/024b725d-6663-4418-9c59-1392c3284438/avatar/9c95c8f5-c769-4dd5-ad48-20fe59bba46d/part.1
/data/.minio.sys/tmp/3081f4a6-4683-48e3-a87e-a5f01aa1d553
